/* layar dekstop */



/* layar dekstop */
/* //* LAYAR DEKSTOP*/

    /* //* LOGIN PAGE & REGIST PAGE */

    @media (min-width: 992px) { 
        body,html{
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
        }

        .img-box{
            height: 75%;    
            overflow: hidden;
            position: relative;
        }

        .img-box p{
            position: absolute;
            top: 100px;
        }

        .img-box img{    
            margin-top: -10%;    
            object-fit: cover;
            position: relative;
            padding: 0;
            display: block;
            bottom: 100px;
            position: relative;
        }

        .p-atas{
            top: 25vh;
            left: 10vw;
            color: white;
            font-size: 35px;
            font-family: Poppins-Semibold;
        }

        .atas-form p{
            color: #F62065 !important;
            font-size: 30px;
            font-weight: 600;
        }

        .logo{
            /* margin-left: 30px; */
            width: 300px;
        }

        .location-box{
            left: 380px;
            color: #F62065;
            background-color: white;
            position: absolute;
            bottom: 160px;
            padding: 10px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-left-radius: 25px;
            font-size: 20px;
            font-family: Poppins-Regular;

        }

        .location-p{
            
            position: absolute;
        }


        .form-group{
            margin-right: 0;
        }

        /* //*Container Login */
        .form-container{
            margin-top: 30px;
            margin-left: 30px;
            color: red;
            background: #ffffff;
            padding: 30px;
            /* border-radius: 10px;
            box-shadow: 0 5px 18px #dadada; */
            width: 32vw;
        }

        

        .form-container img{
            width: 300px;
        }

        .form-container p{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            color: black;
        }

        .form-container p a{
            color: #F62065;
        }

        .form-container h3{
            color: #F62065;
            text-align: center;
            font-size: 30px;
            padding-right: 15px;
            margin-bottom: 30px;
        }

        .form-container .lupa-password{
            margin-top: -5px;
            text-align: center;
            color: black;
        }

        .form-container .lupa-password a{
            color: black;
        }

        /* //* END container login */

        /* //* Container Regist page */
        .form-container-regist{
            margin-left: 30px;
            color: red;
            background: #ffffff;
            padding: 30px;
            /* border-radius: 10px;
            box-shadow: 0 5px 18px #dadada; */
            width: 32vw;
        } 

        .form-container-regist img{
            width: 300px;
        }

        .form-container-regist p{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            color: black;
        }

        .form-container-regist p a{
            color: #F62065;
        }

        .form-container-regist h3{
            color: #F62065;
            text-align: center;
            font-size: 30px;
            padding-right: 15px;
            margin-bottom: 30px;
        }

        .form-container-regist .lupa-password{
            margin-top: -5px;
            text-align: center;
            color: black;
        }

        .form-container-regist .lupa-password a{
            color: black;
        }

        /* //* End Container Login */


        input[type="email"]:focus,input[type="password"]:focus,input[type="text"]:focus{
            border-color: #F62065;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FF9CBB;
            outline: 0 none;
        }

        input[type="email"], input[type="password"],input[type="text"]{
            background-color: #F3F5F9;
            border: 0;
            border-radius: 10px;
            color: black;
            padding-left: 24px;
        }

        .form-check{
            margin-top: 30px;
        }
        .form-check label{
            color: black;
        }

        

    

        /* //* END LOGIN PAGE & REGIST PAGE */

        /* //* LAYAR DEKSTOP */
    } 
    /* //*End media */
