@import "https://use.fontawesome.com/releases/v5.12.1/css/all.css";
@font-face{
    font-family: Poppins-Light;
    src: url(../assets/font/Poppins-Light.ttf);
}

@font-face{
    font-family: Poppins-Regular;
    src: url(../assets/font/Poppins-Regular.ttf);
}

@font-face{
    font-family: Poppins-Medium;
    src: url(../assets/font/Poppins-Medium.ttf);
}

@font-face{
    font-family: Poppins-Semibold;
    src: url(../assets/font/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: Poppins-Bold;
    src: url(../assets/font/Poppins-Bold.ttf);
}

/* SCROLLBAR CUSTOM */
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F3F5F9; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b2bec3;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #636e72; 
  }

html{
    scroll-behavior: smooth;
}
body,html{
    overflow-x: hidden;
}



/* //*UTILITIES PAKAI BERULANG */


.btn{
    background-color: #F62065;
    border: 0;
    color: white;
    border-radius: 10px;
}

.btn:hover{
    color: white;
    background-color: #F62065;
    box-shadow: 0 5px 18px #F62065;
}

.clear-btn{
    display: none;  
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #a0a0a0;
    border: 0;
}

/* //*navbar */

.navbar{
    transition: top 600ms;
}

 .profile-icon img{
    width: 24px;
    margin-top: -6px;
    transition-delay: 100ms;
}

.profile-icon img:hover{
    width: 24px;
    margin-top: -6px;
    transform: rotate(-45deg);
}

/* //* content */


.card{
    position: relative;
    border: 0px solid #dadada;
}

.card-body-custom{
    padding-bottom: 0;
}

.border-image img{
    border-radius: 16px;
    transition-duration: 500ms;
}

.border-image img:hover{
    margin-left: 5px;
    box-shadow: 0 5px 5px #dadada;
}

/* //* footer */
.margin-footer{
    margin-top: 200px;
}

.logo-footer{
    width: 250px;
}

.border-footer{
    text-decoration: none;
    padding-left: 10px;
    border-left: 3px solid #F62065;
    transition-duration: 700ms;
}

.border-footer:hover{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    
}

.cont-footer{
    background-color: #F62065;
    width: 3px;
    transition-duration: 500ms;
}

.cont-footer:hover{
    background-color: #F62065;
    width: 95px;
}

.cont-footer-text-panjang{
    background-color: #F62065;
    width: 3px;
    transition-duration: 500ms;
}

.cont-footer-text-panjang:hover{
    background-color: #F62065;
    width: 140px;
}

.icon-footer{
    margin: 5px;
    width: 24px;
    transition-duration: 100ms;
}

.icon-footer:hover{

    margin: 5px;
    width: 30px;
    transform: rotate(-20deg);
}

/* //* INDEX PAGE */


.jumbotron-index{
    padding-top: 100px;
    padding-bottom: 0;
    height: 620px;
    background-color: #Ffffff;
}

.img-carousel-index{
    height: 470px !important;
    border-radius: 20px;
    object-fit: cover;
}

.form-margin{
    margin-top: 120px;
}

.box-form{
    border-radius: 25px;
    margin-top: 60px;
}

.container-search-box{
    background-color: white;
    position: relative;
    padding: 26px;
    width: 80%;
    border-radius: 15px !important;
    box-shadow:
  0 0.7px 14.2px rgba(0, 0, 0, 0.016),
  0 3.7px 28.6px rgba(0, 0, 0, 0.022),
  0 10.9px 45.5px rgba(0, 0, 0, 0.028),
  0 28.9px 73.5px rgba(0, 0, 0, 0.034),
  0 100px 174px rgba(0, 0, 0, 0.05)
;
}

.clear-btn-index{
    width: 18px;
    height: 18px;    
    bottom: 0;
    margin-left: 274px;
    margin-bottom: 30px;
}

.clear-btn img{
    width: 7px;
    height: 7px;
}

#loader-index{
    width: 24px !important;
    height: 24px !important;
    position: absolute;
    left: 28vw;
    top: 80px;
    z-index: 2;
    display: none;
}

.search-box-btn{
    bottom: 0;
    position: absolute;
    width: 75px;
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 24vw;
    margin-bottom: 2.6vh;
    z-index: 1;
}

.row-tab img.grayscale{ 
    filter: grayscale(100%) !important;
    opacity: 50% !important;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabone{
    border-top-left-radius: 25px;
    width: 175px;   
}

.tabtwo{
    border-top-right-radius: 25px;
    width: 175px;
    left: 170px;
}

.row-tab{
    margin-top: 2px;
    margin-left: 5px;
}

.row-tab img{
    margin-left: 10px;
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

.tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    padding-bottom: 0;
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: bold;
    transition: background ease 0.2s;
    position: absolute;
    z-index: 0;
}

.tabs label{
    background: #F3F5F9;
    color: #a0a0a0;
}


.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    margin-top: 68px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;  
    border-top-right-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    z-index: 1;
    position: relative;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label{
    background: #fff;
    color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
    position: absolute;
    z-index: 1;    
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

@media (max-width: 45em) {

    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}

.inputwith_icon span{
    background-color:  #F3F5F9;
    border: none;
}

.inputwith_icon img{
    width: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 1vw;
    margin-top: 2vh;
}

.inputwith_icon input[type="text"]{
    position: relative;
    padding-left: 45px;
}

.inputwith_icon select.custom-select{
    background-color:  #F3F5F9;
    position: relative;
    padding-left: 45px;
    height: 45px;
    border-radius: 10px;
    border: 0;
}


input[type="email"]:focus,input[type="password"]:focus,input[type="text"]:focus{
    border: 1.5px solid #F62065 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    outline: 0 none;
}

input[type="email"], input[type="password"],input[type="text"]{
    background-color: #F3F5F9;
    border: 0;
    border-radius: 10px;
    color: black;
    padding-left: 24px;
    height: 45px;
}

.checkIN-form{
    width: 300px;
}

.form-group-transportasi{
    position: absolute;
    left: 370px;
    top: 329px;

}


.grid-hero{
    display: grid;
    grid-gap: 20px;
}

.grid-hero img{
    border-radius: 25px;
}

.grid-hero  img:nth-child(1){
    margin-left: auto;
    width: 250px;
    height: 215px;
    grid-column: 1;
    grid-row: 1;  
}

.grid-hero  img:nth-child(2){
    width: 250px;
    object-fit: cover;
    height: 450px;
    grid-column: 2;
    grid-row: 1 / span 2;  
}   

.grid-hero  img:nth-child(3){
    /* margin-top: -50px; */
    margin-left: auto;
    width: 190px;
    height: 215px;
    grid-column: 1;
    grid-row: 2;  
}


.location-box div:nth-child(1){
    left: -70px;
    top: -10px;
    padding: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.location-box div:nth-child(2){
    left: 20px;
    top: 455px;
    padding: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.location-box div:nth-child(3){
    left: 440px;
    top: 455px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.title-santai{
    margin-top: 80px;
}

.subtitle-santai{
    margin-top: 70px;
}

.img-villa{
    margin-top: 160px;
    width: 280px;
    border-radius: 25px;
    transition-duration: 700ms;
}

.img-villa:hover{
    width: 300px;
}

.img-apartemen{
    margin-top: 100px;
    width: 280px;
    border-radius: 25px;
    transition-duration: 700ms;
}

.img-apartemen:hover{
    width: 300px;
}

.selengkapnya{
    margin-top: -30px;
    left: 985px;
}

.galery-box{
    background-color: #ffdddd;
    margin-top: 80px;
    padding-bottom: 0;
    bottom: 0px;
    margin-bottom: 80px;
}

.img-galery{
    width: 650px;
    margin-left: 60px;
    transition-duration: 700ms;
}

.img-galery:hover{
    width: 680px;
    margin-left: 55px;
}

.galery-title{
    margin-top: 80px;
    margin-left: 110px;
    
}

.btn-galery{
    margin-top: 30px;
    margin-left: 110px;
    width: 140px;
}

/* //*SINGLE DESTINASI PAGE */

.cont-single-destinasi{
    margin-top: 100px;
}

.gambar img{
    border-radius: 15px;
}


.btn-slide-right{
    border: none;
    top: 35%;
    right: 3%;
    padding: 3px 10px;
}

.btn-slide-left{
    border: none;
    top: 35%;
    right: 3%;
    left: 3%;
    padding: 3px 10px;
}

.gambar img#product_img{
    height: 350px !important;
    object-fit: cover;
}

.grid-many-img{
    padding-top: 20px;
    display: grid;
    grid-gap: 20px;
}

.gird-many-img img{
    object-fit: cover;
}

.grid-many-img img:nth-child(1){
    width: 120px;
    height: 80px;
    border-radius: 10px;
    grid-row: 1;
    grid-column: 1;
}

.grid-many-img img:nth-child(2){
    width: 120px;
    height: 80px;
    border-radius: 10px;
    grid-row: 1;
    grid-column: 2;
}
.grid-many-img img:nth-child(3){
    width: 120px;
    height: 80px;
    border-radius: 10px;
    grid-row: 1;
    grid-column: 3;
}
.grid-many-img img:nth-child(4){
    width: 120px;
    height: 80px;
    border-radius: 10px;
    grid-row: 1;
    grid-column: 4;
}

.small-img{
    cursor: pointer;
}
.active{
    box-shadow: 0 5px 18px rgb(179, 179, 179);
}

.card-detail-hotel{
    width: 100% !important;
    padding: 20px;
    border: 0px solid black;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 5px 10px #dadada;
}

.rating-detail-hotel{
    position: absolute;
    right: 65px;
    top: 20px;
}

.fasilitas-wifi{
    width: 28px;
    height: 22px;
}

.fasilitas-ac{
    margin-top: 3px;
    width: 30px;
    height: 16px;
}

.fasilitas-restoran{
    width: 31px;
    height: 24px;
}

.fasilitas-tv{
    width: 29px;
    height: 24px;
}

.fasilitas-detail-hotel img{
    filter: grayscale(100%) !important;
    opacity: 50% !important;
}

.fasilitas-detail-hotel img:hover{
    filter: none !important;
    opacity: 100% !important;
}

.fasilitas-icon-detail{
    width: 24px;
    height: 24px;
}

.card-icon{
    height: 100px !important;
}

.nav-prev-btn{
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: black;
}

.nav-next-btn{
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: black;
}

span.carousel-control-prev-icon{
    width: 14px;
}

span.carousel-control-next-icon{
    width: 14px;
}

.inputwith_icon select:focus,input[type="text"]:focus{
    border: 2px solid #F62065;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    outline: 0 none;
}

.inputwith_icon select,input[type="text"]{
    background-color: #F3F5F9;
    border: 0;
    border-radius: 10px;
    color: black;
    padding-left: 24px;
}

.large-bed-icon{
    margin-top: 15px !important;
}



/* //*Detail wisata */




/* //* Galery page */
.galeri-container{
    width: 90vw;
    margin: 0 auto;
    padding-top: 130px;
}
.galeri-container > h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}
.galeri-container > p{
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}
.category-head{
    margin: 30px 0;
}
.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.category-title{
    /* flex: 0 0 calc(16.6667% - 10px); */
    display: flex;
    justify-content:center;
    padding: 5px;
    color: #a0a0a0;
    width: fit-content !important;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 10px;
}
.category-title:hover{
    opacity: 0.7;
}
.category-title li{
    padding: 0 10px;
}
.category-title span{
    color: #222;
}

/** single post **/
.posts-main-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}
.posts-main-container > div{
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}

.posts-main-container > div:hover{
    box-shadow: none;
}
.post-img{
    position: relative;
    height: 238px;
}
.category-name{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 7px;
}

.all{
    height: fit-content;
    width: fit-content;
    border-radius: 16px;
    transition-duration: 700ms;
}

.all img{
    object-fit: cover;
    width: 357px;
    height: 238px;
    border-radius: 16px;
}


.pantai-laut .category-name{
    background: #00a7ea;
}
.alam .category-name{
    background: #f03250;
}
.malam .category-name{
    background: #f0544f;
}
.gedung-kota .category-name{
    background: #2c2a4a;
}
.taman .category-name{
    background: #16a085;
}



/***************/
@media(max-width: 1170px){
    .posts-main-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 768px){
    .posts-main-container{
        grid-template-columns: 1fr;
    }
}


/***********/

.active-filter  {
    background: #F62065;
    color: white;
}

 /* //*Search_hotel PAGE */
.form-container-search-hotel{
    width: 500px;
    position: relative;
}

.clear-btn-search{
    width: 18px;
    height: 18px;
    margin-left: 460px;
    bottom: 0;
    margin-bottom: 11px;
}

input[type="text"]#search_hotel{
    height: 45px;
    background-color: white;
    box-shadow: 0 4px 10px #dadada;
}

.tabs-search {
    display: flex;
    flex-wrap: wrap;
}

.tabone-hotel{
    left: 465px;
}

.tabtwo-wisata{
    right: 465px;
}


.tabs-search label {
    text-align: center;
    width: 80px;
    order: 1;
    display: block;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background ease 0.2s;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
}

.tabs-search label{
    background: none;
    color: #a0a0a0;
}

.tabs-search .tab-search {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    margin-top: 80px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;  
    border-top-right-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    z-index: 1;
    position: relative;
}

.tabs-search input[type="radio"] {
    display: none;
}

.tabs-search input[type="radio"]:checked+label{
    background: #F62065;
    color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;    
}

.tabs-search input[type="radio"]:checked+label+.tab-search {
    display: block;
}

@media (max-width: 45em) {

    .tabs-search .tab-search,
    .tabs-search label {
        order: initial;
    }

    .tabs-search label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}



/* //*TAB HOTEL */
.grid-result-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.card-hotel{
    padding: 0;
    height: fit-content;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 5px 10px #dadada;
    z-index: 0;
    transition-duration: 650ms;
}

.card-hotel:hover{
    border: 1px solid #dadada ;
    box-shadow: none;
    z-index: 0;
}

.card-hotel img.card-img{
    border-radius: 25px;
    object-fit: cover;
    transition-duration: 300ms;
    z-index: 1;
}

.card-hotel img.card-img:hover{
    left: 0;
    position: absolute;
    width: 400px;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    border-radius: 25px;
    object-fit: cover;
    z-index: 2;
}
.rating-hotel{
    position: absolute;
}

.fasilitas img{
    filter: grayscale(100%) !important;
    opacity: 50% !important;
}

.fasilitas img:hover{
    filter: none !important;
    opacity: 100% !important;
}

.fasilitas img:nth-child(3){
    width: 25px;
    height: 20px;
}

.fasilitas img:nth-child(5){
    margin-top: 3px;
    width: 25px;
    height: 14px;
}

.fasilitas-icon{
    width: 20px;
    height: 20px;
}

.rating-hotel-iconn{
    background-color: #F62065;
    width: fit-content;
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    right: 20px;
}

.bs-tooltip-top {
    top: -10px !important;
}

.more-fasilitas{
    border-radius: 2px;
    background-color: #F3F5F9;
    padding: 2px 4px;
}

.btn-card-hotel{
    position: absolute !important;
    right: 20px !important;
    bottom: 20px !important;
}

/* //* FILTER DI KIRI */

/* //*checkbox */
.container-check-filter{
    display: block !important   ;
    position: relative !important;
    text-align: left !important;
    margin-bottom: 14px !important;
    width: 200px !important;
    padding: 2px 0 0 45px !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  
  /* Hide the browser's default checkbox */
  .container-check-filter input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    height: 0 !important;
    width: 0 !important;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 25px !important;
    width: 25px !important;
    background-color: #eee !important;
  } 
  
  /* On mouse-over, add a grey background color */
  .container-check-filter:hover input ~ .checkmark {
    background-color: #ccc !important;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-check-filter input:checked ~ .checkmark {
    background-color: #2196F3 !important;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "" !important;
    position: absolute !important;
    display: none !important;
  }
  
  /* Show the checkmark when checked */
  .container-check-filter input:checked ~ .checkmark:after {
    display: block !important; 
  }
  
  /* Style the checkmark/indicator */
  .container-check-filter .checkmark:after {
    left: 9px !important;
    top: 5px !important;
    width: 5px !important;
    height: 10px !important;
    border: solid white !important;
    border-width: 0 3px 3px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
  }




  /* //*TENTANG KAMI PAGE */
.jumbotron-about{
    background-image: url(../assets/img/tentang-kami.png);
    height: 620px;
}

.jumbotron-about::after{
    z-index: 0 !important; 
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    position: absolute; 
    bottom: 0;
}

.jumbotron-about .display-4{
    position: absolute;
    color: white;
    margin-top: 170px;
}

.jumbotron-about h1:nth-child(2){
    top: 160px;
}

.jumbotron-about img{
    left: 50%;
    right: 50%;
    bottom: 3%;
}

.margin-about{
    margin-left: 25%;
    margin-top: 380px;
}

.margin-sub{
    margin-left: 40%;
    margin-top: 120px;
}  

.row-img{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px!important;

}

.img-box-about{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 300px;
    height: 300px;
    background-color: #a0a0a0;
    margin-right: 0;
}







